{{/* affsearch.html
  呼び出し:
    - {{< affsearch keyword="SIMカード" >}}
    - {{< affsearch keyword="SIMカード" img="/images/sim.jpg" >}}
*/}}

{{ $kw := .Get "keyword" | default "" }}
{{ $imgParam := .Get "img" }}
{{ $q := urlquery $kw }}

{{/* もしもクリックURL（固定・末尾 url= 必須） */}}
{{ $rakPrefix := "//af.moshimo.com/af/c/click?a_id=1612575&p_id=54&pc_id=54&pl_id=616&s_v=b5Rz2P0601xu&url=" }}
{{ $amzPrefix := "//af.moshimo.com/af/c/click?a_id=1612578&p_id=170&pc_id=185&pl_id=4062&s_v=b5Rz2P0601xu&url=" }}
{{ $yhoPrefix := "//af.moshimo.com/af/c/click?a_id=1615240&p_id=1925&pc_id=1925&pl_id=18502&s_v=b5Rz2P0601xu&url=" }}

{{/* 正規の検索URL */}}
{{ $amzRaw := printf "https://www.amazon.co.jp/gp/search?keywords=%s&__mk_ja_JP=%%E3%%82%%AB%%E3%%82%%BF%%E3%%82%%AB%%E3%%83%%8A" $q }}
{{ $rakRaw := printf "https://search.rakuten.co.jp/search/mall/%s/" $q }}
{{ $yhoRaw := printf "https://shopping.yahoo.co.jp/search?p=%s" $q }}

{{/* もしもラップ */}}
{{ $amz := printf "%s%s" $amzPrefix (urlquery $amzRaw) }}
{{ $rak := printf "%s%s" $rakPrefix (urlquery $rakRaw) }}
{{ $yho := printf "%s%s" $yhoPrefix (urlquery $yhoRaw) }}

{{/* 画像決定：img 指定なければ assets/image/default_noimage.png を必ず使う */}}
{{ $img := "" }}
{{ if $imgParam }}
  {{ $img = $imgParam }}
{{ else }}
  {{ with resources.Get "image/default_noimage.png" }}
    {{ $img = .Permalink }}
  {{ else }}
    {{/* 必須前提。存在しない場合は気づけるダミーを出す */}}
    {{ $img = "about:invalid#assets-image-default_noimage.png-not-found" }}
  {{ end }}
{{ end }}

{{ $rel := "sponsored noopener" }}
{{ $target := "_blank" }}

<div class="affsearch-card">
  <div class="affsearch-thumbWrap">
    <img class="affsearch-thumb" src="{{ $img }}" alt="{{ $kw }}" loading="eager">
  </div>

  <div class="affsearch-right">
    <div class="affsearch-title">{{ $kw }} を各ショップで検索</div>

    <div class="affsearch-links">
      <a class="affsearch-btn rakuten" href="{{ $rak }}" target="{{ $target }}" rel="{{ $rel }}">楽天市場で探す</a>
      <a class="affsearch-btn amz" href="{{ $amz }}" target="{{ $target }}" rel="{{ $rel }}">Amazonで探す</a>
      <a class="affsearch-btn yahoo" href="{{ $yho }}" target="{{ $target }}" rel="{{ $rel }}">Yahoo!ショッピングで探す</a>
    </div>
  </div>
</div>

