{{ $url := .Get 0 }}
{{/* 自記事のブログカードを表示しようとすると無限ループになるのを回避 */}}
{{- if not (in .Page.Permalink $url) -}}
    {{- with $.Site.GetPage $url -}}
        <a href="{{- .Permalink -}}" class="blog-card">
            {{- $thumbnail_url := "" -}}
            {{- $thumbnail := or
                (.Resources.GetMatch "thumbnail.*")
                (resources.Get .Params.thumbnail)
                (resources.Get .Site.Params.defaultNoimage)
            -}}
            {{- if $thumbnail -}}
                {{- $thumbnail_url = ($thumbnail.Fill (printf "200x200 center q%d webp" $.Site.Params.imageQuality)).Permalink -}}
            {{- end -}}
            <div class="blog-card-thumbWrap">
                <img class="blog-card-thumb" src="{{- $thumbnail_url -}}" alt="{{ .Title }}" loading="eager">
            </div>
            <div class="blog-card-right">
                <div class="blog-card-title">
                    {{- .Title -}}
                </div>
                {{ with .Params.description }}
                <p class="blog-card-description">
                    {{ . }}
                </p>
                {{ else }}
                <p class="blog-card-description">
                    {{ .Summary }}
                </p>
                {{ end }}
            </div>
        </a>
    {{- end -}}
{{- end -}}
